<h1 mat-dialog-title class="title-space">{{ institucionNombre }}</h1>

<div class="mat-mdc-dialog-container">
  <div mdc-dialog mat-dialog-content class="espaciador-contenedor espaciador">
    <div >
      <mat-label>Actividad</mat-label>

      <h6 *ngFor="let item of actividadList">{{
        item
      }}</h6>
    </div>

    <div>
      <mat-label>Caracterización</mat-label>
      <h6 *ngFor="let item of caracterizacionList">{{
        item
      }} </h6>

    </div>

    <div>
      <mat-label>Tipo Población</mat-label>
      <h6 *ngFor="let item of tipoPoblacionList" >{{
        item
      }}</h6>

    </div>

    <div>
      <mat-label>Estado</mat-label>
      <h6 *ngFor="let item of estadoList">{{
        item
      }}</h6>

    </div>

  </div>

  <div mat-dialog-action [align]="'center'">
    <button
      mat-raised-button
      color="warn"
      mat-dialog-close
      style="margin-left: 25px; margin-bottom: 20px"
    >
      Cerrar
    </button>
  </div>
</div>
