
<!--
<form [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Please Register</h1>

  <input formControlName="name" class="form-control"  placeholder="Name" required>

  <input formControlName="email" type="email" class="form-control"  placeholder="Email" required>

  <input formControlName="password" type="password" class="form-control" placeholder="Password" required>

  <input formControlName="password" type="password" class="form-control" placeholder="Password" required>

  <button class="btn btn-primary w-100 btn-lg" type="submit">Submit</button>
</form>
<br>
-->


<section class="container">
  <header>Formulario de Registro</header>
  <form class="form" [formGroup]="form" (submit)="submit()">

    <div class="input-box">
      <label>Nombres</label>
      <input type="text" placeholder="Ingrese Nombres" required formControlName="name"/>
    </div>

    <div class="input-box">
      <label>Apellidos</label>
      <input type="text" placeholder="Ingrese Apellidos" required formControlName="apellido"/>
    </div>

    <div class="input-box">
      <label>Correo Electronico</label>
      <input type="email" placeholder="Ingrese Correo Electronico" required formControlName="email"/>
    </div>

    <div class="column">
      <div class="input-box">
        <label>Numero Teléfonico</label>
        <input type="number" placeholder="Ingrese Numero Teléfonico" required formControlName="telefono"/>
      </div>

      <!--
      <div class="input-box">
        <label>Fecha Nacimiento</label>
        <input type="date" placeholder="Ingrese Fecha de Nacimiento" required />
      </div>
      -->

    </div>

    <!--
    <div class="gender-box">
      <h3>Genero</h3>
      <div class="gender-option">
        <div class="gender">
          <input type="radio" id="check-male" name="gender" checked class="gender"/>
          <label for="check-male">Masculino</label>
        </div>
        <div class="gender">
          <input type="radio" id="check-female" name="gender" class="gender"/>
          <label for="check-female">Femenino</label>
        </div>
        <div class="gender">
          <input type="radio" id="check-other" name="gender" class="gender"/>
          <label for="check-other">Prefiero no decirlo</label>
        </div>
      </div>
    </div>
    -->


    <div class="input-box address">

      <label>Cargo</label>
      <input type="text" placeholder="Ingrese Cargo" required formControlName="cargo_institucional"/>

      <!--
      <div class="column">
        <div class="select-box">
          <select>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="Enter your city" required />
      </div>
      -->

      <div class="column">
        <input type="password" placeholder="Ingrese Contraseña" required formControlName="password"/>
        <input type="password" placeholder="Confirmar Contraseña" required formControlName="password"/>
      </div>


    </div>

    <button style="background-color:rgba(216, 37, 37); color:white" type="submit">Confirmar</button>
  </form>
</section>
