.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 110vw;
  margin-left: -500px;
}
.box {
  border: 1px solid rgb(73, 72, 72);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 2px;
  justify-content: center;
  align-items: center;
}

#myChart {
  width: 400px;
  height: 400px;
}

.container .box div {
  width: 400px;
  height: 400px;
}

.texto-titulo{
  text-align: center;
  /*background-color:aqua;*/
  width: 800px;
  margin-left: -250px;
  font-style:italic;
  color: rgb(63, 73, 52);
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.boton-formulario{
  background-color: rgb(96, 150, 90) !important;
  color: white;
  width: auto;
  height: 8vh;
  margin-bottom: 1rem;
  margin-left: 1rem;
  
}