.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 110vw;
  margin-left: -500px;
}
.box {
  border: 1px solid rgb(73, 72, 72);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  margin: 2px;
  justify-content: center;
  align-items: center;
}

#myChart {
  width: 400px;
  height: 400px;
}

.container .box div {
  width: 400px;
  height: 400px;
}

.texto-titulo{
  text-align: center;
  /*background-color:aqua;*/
  width: 800px;
  margin-left: -250px;
  font-style:italic
}
