<div *ngIf="!this.editData; else elseBlock">
  <h1 mat-dialog-title class="title-space">AGREGAR INSTITUCIÓN</h1>

  <form
    [formGroup]="registerForm"
    (submit)="addInstitucion()"
    class="formulario"
  >

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Nombre Institucion</mat-label>
        <input matInput formControlName="nombre_institucion" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Ruc</mat-label>
        <input matInput formControlName="ruc" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Caracterizacion</mat-label>
        <mat-select formControlName="nombre_caracterizacion" multiple>
          <mat-option
            *ngFor="let caracterizacion of caracterizaciones"
            [value]="caracterizacion.id"
          >
            {{ caracterizacion.nombre_caracterizacion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>

    <div mdc-dialog mat-dialog-content class="espaciador-contenedor">
      

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Mes de ingreso</mat-label>
        <input matInput formControlName="mes_ingreso" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Año de ingreso</mat-label>
        <input matInput formControlName="anio_ingreso" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Clasificacion</mat-label>
        <mat-select formControlName="nombre_clasificacion" multiple>
          <mat-option
            *ngFor="let clasificacion of clasificaciones"
            [value]="clasificacion.id"
            >{{ clasificacion.nombre_clasificacion }}</mat-option
          >
        </mat-select>
      </mat-form-field>

    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Sectorizacion</mat-label>
        <mat-select formControlName="nombre_sectorizacion" multiple>
          <mat-option
            *ngFor="let sector of sectorizaciones"
            [value]="sector.id"
            >{{ sector.nombre_sectorizacion }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Numero de beneficiarios</mat-label>
        <input matInput formControlName="numero_beneficiarios" />
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Tipo Poblacion</mat-label>
        <mat-select formControlName="tipo_poblacion">
          <mat-option
            *ngFor="let tipo_poblacion of tipos_poblacion"
            [value]="tipo_poblacion.tipo_poblacion"
            >{{ tipo_poblacion.tipo_poblacion }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Actividad</mat-label>
        <mat-select multiple formControlName="nombre_actividad">
          <mat-option
            *ngFor="let actividad of actividades"
            [value]="actividad.id"
            >{{ actividad.nombre_actividad }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="espaciado-formfield" appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="nombre_estado">
          <mat-option
            *ngFor="let estado of estados"
            [value]="estado.nombre_estado"
            >{{ estado.nombre_estado }}</mat-option
          >
        </mat-select>
      </mat-form-field>

    </div>

    <div mat-dialog-content class="espaciador-contenedor">

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Nombre contacto</mat-label>
        <input matInput formControlName="nombre_contacto" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Apellido contacto</mat-label>
        <input matInput formControlName="apellido_contacto" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Representante Legal</mat-label>
        <input matInput formControlName="representante_legal" />
      </mat-form-field>


    </div>

    <div mat-dialog-content class="espaciador-contenedor w-75">
      <div formGroupName="direcciones">
        <h6>Direcciones</h6>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="addNewDireccion()"
        >
          +
        </button>
        <div
          mat-dialog-content
          *ngFor="let direccion of registerDirecciones.controls; let i = index"
        >
          <div class="d-flex justify-content-around align-items-center my-4">
            <b>Direccion {{ i + 1 }}</b>

            <button mat-fab color="warn" type="button" (click)="deleteRegisterDireccion(i)" style="margin-bottom: 1rem;">
              x
            </button>
          </div>
          <div [formGroupName]="i" style="display: flex; gap: 0.25rem;">
            <mat-form-field appearance="outline">
              <mat-label>Direccion</mat-label>
              <input matInput formControlName="direccion_nombre" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Url</mat-label>
              <input matInput formControlName="url_direccion" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Latitud</mat-label>
              <input matInput formControlName="latitud" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Longitud</mat-label>
              <input matInput formControlName="longitud" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>


    <div mat-dialog-content class="espaciador-contenedor" style="display: flex; flex-direction: row; gap: 2rem;">
      <div formGroupName="telefonos" style="display: flex; flex-direction: column; gap: 0.5rem; justify-content: center;">
        <div style="display: flex; flex-direction: row; gap: 0.5rem;">
          <h6>Telefonos</h6>
          <button mat-raised-button color="primary" type="button" (click)="addNewTelefono()" >
            <mat-icon >add</mat-icon>
          </button>
        </div>
        <div *ngFor="let telefono of registerTelefonos.controls; let i = index" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
          <b>{{ i + 1 }}</b>
         
          <mat-form-field
            appearance="outline"
            class="espaciado-formfield"
            [formGroupName]="i"
          >
            <mat-label>Telefono</mat-label>
            <input
              matInput
              formControlName="telefono_contacto"
              maxlength="10"
            />
          </mat-form-field>
          <button mat-fab color="warn" type="button" (click)="deleteRegisterTelefono(i)" style="margin-bottom: 1rem;">
            x
          </button>

         
        </div>
      </div>

      <div formGroupName="correos">

        <div style="display: flex; flex-direction: row; gap: 0.5rem;">
          <h6>Correos</h6>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addNewCorreo()"
        >
         <mat-icon >add</mat-icon>
        </button>

        </div>
        
        <div
          *ngFor="
            let correo of registerCorreos.controls;
            in: telefonos;
            let i = index
          "
          style="display: flex; flex-direction: row; align-items: center;"
        >
          <b> {{ i + 1 }}</b>

          <mat-form-field
            appearance="outline"
            class="espaciado-formfield"
            [formGroupName]="i"
          >
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo_contacto" />
          </mat-form-field>

          <button mat-fab color="warn" type="button" (click)="deleteRegisterCorreo(i)" style="margin-bottom: 1rem;">
            x
          </button>
        </div>
      </div>
      

    </div>

    
    <!-- <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="latitud" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="longitud" />
      </mat-form-field>
    </div> -->

    <div mat-dialog-action [align]="'end'">
      <button
        mat-raised-button
        color="warn"
        mat-dialog-close
        style="margin-left: 25px; margin-bottom: 20px"
      >
        Cerrar
      </button>
      <button
        mat-raised-button
        color="primary"
        style="margin-left: 5px; margin-bottom: 20px"
        type="submit"
      >
        {{ actionBtn }}
      </button>
    </div>
  </form>
</div>

<ng-template #elseBlock>
  <h1 mat-dialog-title class="title-space">EDITAR INSTITUCION</h1>

  <div class="mat-mdc-dialog-container">
    <form [formGroup]="institucionForm" (submit)="editInfoInstitucion()">
      <div mdc-dialog mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Año de ingreso</mat-label>
          <input matInput formControlName="anio_ingreso" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Mes de ingreso</mat-label>
          <input matInput formControlName="mes_ingreso" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Nombre Institucion</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Ruc</mat-label>
          <input matInput formControlName="ruc" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Caracterizacion</mat-label>
          <mat-select formControlName="caracterizaciones" multiple>
            <mat-option
              *ngFor="let caracterizacion of caracterizaciones"
              [value]="caracterizacion.id"
            >
              {{ caracterizacion.nombre_caracterizacion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Clasificacion</mat-label>
          <mat-select formControlName="nombre_clasificacion" multiple>
            <mat-option
              *ngFor="let clasificacion of clasificaciones"
              [value]="clasificacion.id"
              >{{ clasificacion.nombre_clasificacion }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Sectorizacion</mat-label>
          <mat-select formControlName="sectorizaciones" multiple>
            <mat-option
              *ngFor="let sector of sectorizaciones"
              [value]="sector.id"
              >{{ sector.nombre_sectorizacion }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Numero de beneficiarios</mat-label>
          <input matInput formControlName="numero_beneficiarios" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Tipo Poblacion</mat-label>
          <mat-select formControlName="tipo_poblacion">
            <mat-option
              *ngFor="let tipo_poblacion of tipos_poblacion"
              [value]="tipo_poblacion.tipo_poblacion"
              >{{ tipo_poblacion.tipo_poblacion }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Actividad</mat-label>
          <mat-select formControlName="actividades" multiple>
            <mat-option
              *ngFor="let actividad of actividades"
              [value]="actividad.id"
              multiple
              >{{ actividad.nombre_actividad }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Nombre contacto</mat-label>
          <input matInput formControlName="nombre_contacto" />
        </mat-form-field>

        <mat-form-field class="espaciado-formfield" appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="nombre_estado">
            <mat-option
              *ngFor="let estado of estados"
              [value]="estado.nombre_estado"
              >{{ estado.nombre_estado }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <div formGroupName="telefonos">
          <h6>Telefonos</h6>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="addTelefono()"
          >
            Agregar Telefono
          </button>
          <div
            *ngFor="
              let telefono of institucionTelefonos.controls;
              let i = index
            "
          >
            <div class="d-flex justify-content-around align-items-center my-4">
              <b>Telefono {{ i + 1 }}</b>
              <button
                mat-raised-button
                color="warn"
                type="button"
                (click)="deleteTelefono(i)"
              >
                Eliminar
              </button>
            </div>
            <mat-form-field
              appearance="outline"
              class="espaciado-formfield"
              [formGroupName]="i"
            >
              <mat-label>Telefono</mat-label>
              <input
                matInput
                formControlName="telefono_contacto"
                maxlength="10"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <div formGroupName="correos">
          <h6>Correos</h6>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="addCorreo()"
          >
            Agregar Nuevo Correo
          </button>
          <div
            *ngFor="
              let correo of institucionCorreos.controls;
              in: telefonos;
              let i = index
            "
          >
            <div class="d-flex justify-content-around align-items-center my-4">
              <b>Correo {{ i + 1 }}</b>
              <button
                mat-raised-button
                color="warn"
                type="button"
                (click)="deleteCorreo(i)"
              >
                Eliminar
              </button>
            </div>
            <mat-form-field
              appearance="outline"
              class="espaciado-formfield"
              [formGroupName]="i"
            >
              <mat-label>Correo</mat-label>
              <input matInput formControlName="correo_contacto" />
            </mat-form-field>
          </div>
        </div>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo_contacto" />
        </mat-form-field> -->

        <!-- <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="direccion_nombre" />
        </mat-form-field> -->
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <div formGroupName="direcciones">
          <h6>Direcciones</h6>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="addDireccion()"
          >
            Agregar Direccion
          </button>
          <div
            *ngFor="
              let direccion of institucionDirecciones.controls;
              let i = index
            "
          >
            <div class="d-flex justify-content-around align-items-center my-4">
              <b>Direccion {{ i + 1 }}</b>
              <button
                type="button"
                mat-raised-button
                color="warn"
                (click)="deleteDireccion(i)"
              >
                Eliminar Direccion
              </button>
            </div>
            <div [formGroupName]="i">
              <mat-form-field appearance="outline" class="espaciado-formfield">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="direccion_nombre" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Url</mat-label>
                <input matInput formControlName="url_direccion" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="espaciado-formfield">
                <mat-label>Latitud</mat-label>
                <input matInput formControlName="latitud" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Longitud</mat-label>
                <input matInput formControlName="longitud" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- <div mat-dialog-content class="espaciador-contenedor"> -->
      <!-- <mat-form-field appearance="outline">
          <mat-label>Longitud</mat-label>
          <input matInput formControlName="longitud" />
        </mat-form-field> -->

      <!-- </div> -->

      <div mat-dialog-action [align]="'center'">
        <button
          mat-raised-button
          color="warn"
          mat-dialog-close
          style="margin-left: 25px; margin-bottom: 20px"
        >
          Cerrar
        </button>
        <button
          mat-raised-button
          color="secondary"
          style="margin-left: 5px; margin-bottom: 20px"
          type="submit"
        >
          Actualizar
        </button>
      </div>
    </form>
  </div>
</ng-template>
