.example-container {
  margin-left: 8px;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.espaciado-formfield{
  padding-left: 15px;
}

.espaciador-contenedor{
  padding-bottom: 2px;

}

.title-space{
  padding-bottom: 6px;

}


.mat-mdc-dialog-container,
.mat-mdc-dialog-container .mdc-dialog__container,
.mat-mdc-dialog-container .mdc-dialog__surface {
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-width: inherit;
  width: 500px;
  height: 650px;
}

.mdc-dialog .mdc-dialog__content {
  padding: 1px 24px 20px 24px;
}

.boton-x {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(197, 97, 98); /* Puedes cambiar el color según tus preferencias */
}

.boton-x-1{

  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(96, 150, 90) ; /* Puedes cambiar el color según tus preferencias */

}

.alinear{
  display: flex;
  flex-direction: row;
  gap: 5vh;
  align-items: center;
}

/* Estilos para pantallas con un ancho máximo de 1024px (típicamente tablets en modo paisaje) */
@media screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-width: 800px) {
  /* Tus estilos van aquí */
  .example-container {
    margin-left: 8px;
  }

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .espaciado-formfield{
    padding-left: 15px;
  }

  .espaciador-contenedor{
    padding-bottom: 2px;
  }

  .title-space{
    padding-bottom: 6px;
  }

  .mat-mdc-dialog-container .mdc-dialog__container .mdc-dialog__surface {
      max-height: inherit;
      min-height: inherit;
      min-width: inherit;
      max-width: inherit;
      width: 1000px;
      height: 650px;
  }

  /*.mdc-dialog .mdc-dialog__content {
    padding: 1px 24px 20px 24px;
  }*/
}

.formulario{
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
}