<div *ngIf="!this.editData; else elseBlock">
  <h1 mat-dialog-title class="title-space">AGREGAR INSTITUCIÓN</h1>

  <form
    [formGroup]="registerForm"
    (submit)="addInstitucion()"
    class="formulario"
  >
    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Nombre Institucion</mat-label>
        <input matInput formControlName="nombre_institucion" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Ruc</mat-label>
        <input matInput formControlName="ruc" />
      </mat-form-field>
    </div>

    <div mdc-dialog mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Año de ingreso</mat-label>
        <input matInput formControlName="anio_ingreso" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Mes de ingreso</mat-label>
        <input matInput formControlName="mes_ingreso" />
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Caracterizacion</mat-label>
        <mat-select formControlName="nombre_caracterizacion" multiple>
          <mat-option
            *ngFor="let caracterizacion of caracterizaciones"
            [value]="caracterizacion.id"
          >
            {{ caracterizacion.nombre_caracterizacion }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Clasificacion</mat-label>
        <mat-select formControlName="nombre_clasificacion">
          <mat-option
            *ngFor="let clasificacion of clasificaciones"
            [value]="clasificacion.nombre_clasificacion"
            >{{ clasificacion.nombre_clasificacion }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Sectorizacion</mat-label>
        <mat-select formControlName="nombre_sectorizacion" multiple>
          <mat-option
            *ngFor="let sector of sectorizaciones"
            [value]="sector.id"
            >{{ sector.nombre_sectorizacion }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Numero de beneficiarios</mat-label>
        <input matInput formControlName="numero_beneficiarios" />
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Tipo Poblacion</mat-label>
        <mat-select formControlName="tipo_poblacion">
          <mat-option
            *ngFor="let tipo_poblacion of tipos_poblacion"
            [value]="tipo_poblacion.tipo_poblacion"
            >{{ tipo_poblacion.tipo_poblacion }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Actividad</mat-label>
        <mat-select multiple formControlName="nombre_actividad">
          <mat-option
            *ngFor="let actividad of actividades"
            [value]="actividad.id"
            >{{ actividad.nombre_actividad }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Nombre contacto</mat-label>
        <input matInput formControlName="nombre_contacto" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Apellido contacto</mat-label>
        <input matInput formControlName="apellido_contacto" />
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo_contacto" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="telefono_contacto" />
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion_nombre" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Url Dirección</mat-label>
        <input matInput formControlName="url_direccion" />
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="latitud" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="espaciado-formfield">
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="longitud" />
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field appearance="outline">
        <mat-label>Representante Legal</mat-label>
        <input matInput formControlName="representante_legal" />
      </mat-form-field>

      <mat-form-field class="espaciado-formfield" appearance="outline">
        <mat-label>Condición</mat-label>
        <mat-select formControlName="condicion">
          <mat-option
            *ngFor="let condicion of condiciones"
            [value]="condicion"
            >{{ condicion }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-content class="espaciador-contenedor">
      <mat-form-field class="espaciado-formfield" appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="nombre_estado">
          <mat-option
            *ngFor="let estado of estados"
            [value]="estado.nombre_estado"
            >{{ estado.nombre_estado }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-action [align]="'end'">
      <button
        mat-raised-button
        color="warn"
        mat-dialog-close
        style="margin-left: 25px; margin-bottom: 20px"
      >
        Cerrar
      </button>
      <button
        mat-raised-button
        color="primary"
        style="margin-left: 5px; margin-bottom: 20px"
        type="submit"
      >
        {{ actionBtn }}
      </button>
    </div>
  </form>
</div>

<ng-template #elseBlock>
  <h1 mat-dialog-title class="title-space">
    FORMULARIO PARA AGREGAR/EDITAR DATOS
  </h1>

  <div class="mat-mdc-dialog-container">
    <form [formGroup]="institucionForm" (submit)="editInfoInstitucion()">
      <div mdc-dialog mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Año de ingreso</mat-label>
          <input matInput formControlName="anio_ingreso" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Mes de ingreso</mat-label>
          <input matInput formControlName="mes_ingreso" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Nombre Institucion</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Ruc</mat-label>
          <input matInput formControlName="ruc" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Caracterizacion</mat-label>
          <mat-select formControlName="caracterizaciones" multiple>
            <mat-option
              *ngFor="let caracterizacion of caracterizaciones"
              [value]="caracterizacion.id"
            >
              {{ caracterizacion.nombre_caracterizacion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Clasificacion</mat-label>
          <mat-select formControlName="nombre_clasificacion">
            <mat-option
              *ngFor="let clasificacion of clasificaciones"
              [value]="clasificacion.nombre_clasificacion"
              >{{ clasificacion.nombre_clasificacion }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Sectorizacion</mat-label>
          <mat-select formControlName="sectorizaciones" multiple>
            <mat-option
              *ngFor="let sector of sectorizaciones"
              [value]="sector.id"
              >{{ sector.nombre_sectorizacion }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Numero de beneficiarios</mat-label>
          <input matInput formControlName="numero_beneficiarios" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Tipo Poblacion</mat-label>
          <mat-select formControlName="tipo_poblacion">
            <mat-option
              *ngFor="let tipo_poblacion of tipos_poblacion"
              [value]="tipo_poblacion.tipo_poblacion"
              >{{ tipo_poblacion.tipo_poblacion }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Actividad</mat-label>
          <mat-select formControlName="actividades" multiple>
            <mat-option
              *ngFor="let actividad of actividades"
              [value]="actividad.id"
              multiple
              >{{ actividad.nombre_actividad }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Nombre contacto</mat-label>
          <input matInput formControlName="nombre_contacto" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="telefono_contacto" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo_contacto" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="direccion_nombre" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Url</mat-label>
          <input matInput formControlName="url_direccion" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="espaciado-formfield">
          <mat-label>Latitud</mat-label>
          <input matInput formControlName="latitud" />
        </mat-form-field>
      </div>

      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field appearance="outline">
          <mat-label>Longitud</mat-label>
          <input matInput formControlName="longitud" />
        </mat-form-field>

        <mat-form-field class="espaciado-formfield" appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="nombre_estado">
            <mat-option
              *ngFor="let estado of estados"
              [value]="estado.nombre_estado"
              >{{ estado.nombre_estado }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div mat-dialog-content class="espaciador-contenedor">
        <mat-form-field class="espaciado-formfield" appearance="outline">
          <mat-label>Condición</mat-label>
          <mat-select formControlName="condicion">
            <mat-option
              *ngFor="let condicion of condiciones"
              [value]="condicion"
              >{{ condicion }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-action [align]="'end'">
        <button
          mat-raised-button
          color="warn"
          mat-dialog-close
          style="margin-left: 25px; margin-bottom: 20px"
        >
          Cerrar
        </button>
        <button
          mat-raised-button
          color="secondary"
          style="margin-left: 5px; margin-bottom: 20px"
          type="submit"
        >
          Actualizar
        </button>
      </div>
    </form>
  </div>
</ng-template>
