
<div class="body-container">
  <div class="container">
    <div class="box" style="background-color:white">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3 text-center">{{ nombreInstitucion }}</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="firstName" class="form-label">Latitud</label>
              <mat-form-field appearance="outline">
                <mat-label>Coordenadas</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of latitudesList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Longitud</label>
              <mat-form-field appearance="outline">
                <mat-label>Coordenadas</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of longitudesList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <label for="address" class="form-label">Dirección</label> <br>
              <mat-form-field appearance="outline">
                <mat-label>Direcciones</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of direccionList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <label for="contactoNombre" class="form-label">Contacto Nombre</label> <br>
              <div style="background-color: white; border: 1px solid rgb(153, 153, 153); border-radius:3px; height: 55px; display: flex; align-items: center; justify-content: center">
                <p style="margin: 0;">{{nombreContacto}}</p>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="address" class="form-label">Url Google Maps</label> <br>
              <mat-form-field appearance="outline">
                <mat-label>Google Maps</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of urlsList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <label for="contactoNombre" class="form-label">Contacto Apellido</label> <br>
              <div style="background-color: white; border: 1px solid rgb(153, 153, 153); border-radius:3px; height: 55px; display: flex; align-items: center; justify-content: center">
                <p style="margin: 0;">{{apellidoContacto}}</p>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="address" class="form-label">Sectorización</label> <br>
              <mat-form-field appearance="outline">
                <mat-label>Sectores</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of sectorizacionList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <label for="address" class="form-label">Correos Contacto</label> <br>
              <mat-form-field appearance="outline">
                <mat-label>Correos</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of correosContacto" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="col-sm-6">
              <label for="address" class="form-label">Telefonos Contacto</label> <br>
              <mat-form-field appearance="outline">
                <mat-label>Telefonos</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of telefonosContacto" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


          </div>

          <hr class="my-4">


          <button class="w-100 btn btn-danger btn-lg" type="submit" routerLink="/instituciones">Volver a Instituciones</button>
        </form>
      </div>


    </div>
    <div class="box" style="background-color:#4d9853">
      <!---->
      <google-map [center]="center"
              height="100%"
              width="100%"
              [zoom]="zoom"
              (mapClick)="addMarker($event)">
    <map-marker *ngFor="let markerPosition of markerPositions"
                [position]="markerPosition"
                [options]="markerOptions"></map-marker>
  </google-map>

    </div>
  </div>
</div>

