.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 770px;
  margin-left: -725px;
  width: 1750px;
  background-color: white;
  margin-top: -8px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
}

.box {
  width: 1000px;
  padding: 10px;
  box-sizing: border-box;
  min-height: 745px; /* Ajusta este valor según tus necesidades */
  border-radius: 4px;
}

@media only screen and (min-width: 400px) {
  .box {
    width: 50%;
  }
}
